*{
    font-family: sans-serif;
}

header {
    background-color: white;
}

body {
    background-color: white;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title {
    background-color: #008248;
    color: whitesmoke;
}

#starbucks-image {
    width: 800px;
}

.coffee {
    width: 800px;
}

.coffee2 {
    width: 800px;
}

.coffee3 {
    width: 900px;
}

article {
    margin-inline: 150px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

footer {
    background-color: black;
    color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4e9e2;
    /* margin-inline: 35px; */
    padding: 10px;
    width: 1380px
    
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 98, 65);
    color: white;
    /* margin-inline: 45px; */
    padding-left: 10px;
    padding-right: 10px; 
    width: 1380px;
} 

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 98, 65);
    color: white;
    /* margin-inline: 45px; */
    padding-left: 10px;
    padding-right: 10px;  
    width: 1380px;
} 

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 98, 65);
    color: white;
    /* margin-inline: 45px; */
    padding-left: 10px;
    padding-right: 10px; 
    width: 1580px;
} 

h1 {
    text-align: center;
}

h2 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.nav {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    background-color: black;
    border-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.nav:hover {
    color: #008248;

}
<<<<<<< HEAD
=======

<<<<<<< Updated upstream
.menutable {
    border-bottom: 1px solid #ddd;
  }

  .button1:hover
  {
    background-color: #0bb357;
    
  }
<<<<<<< Updated upstream
  
=======
  
>>>>>>> 0c3603d4c3f9f45cd203ab628f2f0ce598f0b7a7
>>>>>>> Stashed changes
=======
.containerN{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 98, 65);
    color: white;
    margin-inline: 45px;
    padding-left: 10px;
    padding-right: 10px; 
    border-radius: 15px;
    font-family: sans-serif;
}

.Starcoffee{
    width: 600px;
}

li::before {  
    counter-increment: list-item;  
    -ms-text-justify: auto;
    
  }


>>>>>>> Stashed changes
